/* base-style-start */
#wrapper {
    position: relative;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.row {
    justify-content: space-between;
    /* align-items: center; */
    display: flex;
}

body {
    font-size: 15px;
    color: #5f5f5f;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.6;
    background-color: #f6f6f6;
}

a {
    outline: none;
}

p {
    margin: 0 0 38px 0;
}

h1 {
    font-size: 48px;
    line-height: 1.25;
    color: #fff;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

h3 {
    padding: 25px 0 20px 0;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
    color: #171717;
}

h2 {
    font-size: 38px;
    color: #171717;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 30px;
}

section {
    padding: 90px 0;
}

/* base-style-end */
/* header-style-start */
#header {
    position: relative;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header:before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-content {
    padding: 37px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #6d605b;
    z-index: 3;
    padding: 30px 0;
}

.logo {
    display: block;
    width: cacl(92px - 10px);
    margin: 0 10px 0 0;
}

/* @media screen and (max-width: 768px) {
    .logo {
        width: 100%;
    }
} */

nav {
    width: calc(100% - 92px);
}
/* 
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
    }
} */

.menu {
    display: flex;
    justify-content: flex-end;
}

/* @media screen and (max-width: 768px) {
    .menu {
        display: block;
        text-align: center;
    }
} */

.menu li {
    font-size: 15px;
    font-weight: 500;
    margin: 0 30px 0 0;
    text-transform: uppercase;
}

/* @media screen and (max-width: 768px) {
    .menu li {
        margin: 0 0 10px;
    }
} */

.menu li:last-child {
    margin: 0;
}

.menu li a {
    color: #bfbfbf;
    transition: all 0.3s;
}

.menu li a:hover {
    color: #fff;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* @media screen and (max-width: 768px) {
    .header-wrapper {
        display: block;
    }
} */

.main-slogan {
    max-width: 735px;
}

.sub-title {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 25px 0;

}

.main-slogan {
    text-align: center;
}

.text-style {
    font-style: italic;
}

/* menu*/

/* @media screen and (max-width: 768px) {
    nav {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        nav {
            width: calc(100% - 92px);
        }

        .menu {
            display: flex;
            justify-content: flex-end;
        }

        .trigger {
            display: inline-block;
            margin: 3px;
            cursor: pointer;
            position: absolute;
            right: 25px;
            top: 28px;
        }

        .trigger i {
            display: block;
            width: 30px;
            height: 6px;
            margin: 4px auto;
            background: #222;
        }

        .show {
            display: block;
        }
    } */

    /* header-style-end */
    /* about-agensy-start */
    
    .heading {
        max-width: 697px;
        margin: 0 auto 25px;
        text-align: center;

    }

    .signature {
        display: block;
        margin: 0 auto;
        max-width: 228px;
    }

    .our-achievements {
        background-position: 50% 50%;
        background-size: cover;
    }

    .our-achivements col {
        width: 25%;
        padding: 0 30px;
    }

    .achivements-item {
        position: relative;
        padding: 0 0 0 55px;

    }

    .achivements-item i {
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translatey(-50%);
        color: #fff;
    }

    .achievements-number {
        font-size: 18px;
        color: #fff;
    }

    .achivements-title {
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
    }

    .achivements-item .icon-briefcase {
        margin: 2px 0 0 0;
    }

    /* our end */
    /* best projects start */
    .projects-items {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
    }

    .projects-item-col {
        width: 33.31%;
        padding: 0 15px;
    }

    .project-item {
        display: block;
        height: 250px;
        background-size: cover;
        background-position: 50% 50%;
        margin: 0 0 30px;
        -webkit-filter: grayscale(100%);
        /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(100%);
        /* FF 35+ */
        transition: filter .3s ease-in-out;
    }

    .project-item.project-item-big {
        height: 530px;
    }

    .project-item:hover {
        -webkit-filter: grayscale(0%);
        /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(0%);
        /* FF 35+ */
    }


    /* best project stop */
    /* testymonials start */
    .testmonials {
        background-position: 50% 50%;
        background-size: cover;
    }

    /* single item start */
    .single-item {
        max-width: 735px;
        margin: 0 auto;
    }

    blockquote {
        font-size: 24px;
        font-family: 'Playfair Display', serif;
        font-style: italic;
        text-align: center;
        color: #fff;
    }

    blockquote p {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    blockquote p:after {
        content: "\e90b";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;
        font-family: 'icomoon';
    }

    blockquote p:before {
        content: "\e90a";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 10px;
        font-family: 'icomoon';
    }

    blockquote cite {
        font-size: 14px;
        text-transform: uppercase;
        font-style: normal;
        text-align: center;
        color: #fff;
    }

    .single-item {
        padding: 0 0 118px;
    }

    .slick-slider {
        position: relative;
    }

    .slick-slide img {
        margin: 0 auto;
    }

    .slick-slider .slick-dots li {
        display: inline-block;
        vertical-align: middle;
        margin: 0 5px;
    }

    .slick-slider .slick-dots {
        position: absolute;
        left: 50%;
        bottom: -60px;
        transform: translatex(-50%);
    }

    .slick-slider .slick-dots button {
        background-color: #5b5b5b;
        font-size: 0;
        line-height: 0;
        text-indent: -999px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
    }

    .slick-slider .slick-dots .slick-active button {
        width: 9px;
        height: 9px;
        background-color: #fff;
    }

    .clients {
        max-width: 12000px;
        margin: 0 auto;
        background-color: #fff;
        padding: 30px 0 0 0;
    }

    .logo-clients {
        width: 100%;
        display: inline-block;
        padding: 50px;
    }

    .logo-clients a {
        outline: none;
    }

    /* start-latest-blog */
    .latest-subtitle {
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;

    }

    .latest-blog {
        max-width: 100%;
        height: 860px;
        background-color: #f6f6f6;
        text-align: center;
        margin: 0 auto;
    }

    .latest-blog span {
        display: block;
    }

    .latest-subtitle {
        padding: 0 0 60px 0;
    }

    .latest-blog-text {
        padding: 25px 30px;
        text-align: left;
    }

    .latest-posts {
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px 0 15px;
    }

    .individual-post {
        padding: 0 15px 0 15px;
        box-shadow: 5px rgba(0, 0, 0, 0.2);
    }

    .latest-post-info {
        text-align: left;
        padding: 0 30px 0 30px;
        background-color: #fff;
    }

    .post-time {
        padding: 0 0 22px 0;
        font-family: 'Work Sans', sans-serif;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        color: #171717 !important;
        font-weight: bold;

    }

    .latest-post-info span {
        display: block;
        padding: 0 0 22px 0;
        font-family: 'Work Sans', sans-serif;
        color: #5f5f5f;
        font-size: 15px;
        line-height: 1.6;
    }

    /* contact-inform */
    li {
        list-style: none;
    }

    .contact {
        width: calc(43% - 74px);
        margin: 0 74px 0 0;
    }

    .contact-info .row {
        align-items: flex-start;
    }

    .contact-form {
        width: 57%;
    }

    .contact-list li {
        margin: 0 0 11px 0;
    }

    .contact-list_title {
        font-weight: 500;
        color: #171717;
        margin: 0 8px 0 0;
    }

    .user-data {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
    }

    .user-data input[type=text],
    input[type=email] {
        width: 50%;
        margin: 0 15px 30px;
    }

    /* button post start*/
    .button-post {
        position: absolute;
        bottom: 50%;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-size: 12px;
        background-color: #252525;
        text-align: center;
        display: flex;
        margin-left: 10px;
        padding: 10px 20px 10px 20px;
    }

    /* button post end */
    /* footer-start */
    footer {
        background-color: #0c0c0c;
        height: 485px;
        margin: 0;
    }

    .section-footer {
        border-bottom: 1px solid #252525;
    }

    .footer-col {
        max-width: 33.31%;
        padding: 0 20px 0 0;
        color: #e9e9e9;
    }

    .footer-col h3 {
        color: #fff;
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        padding: 95px 0 40px 0;
    }

    .footer-col i {
        padding: 0 15px 0 0;
        font-size: 17px;
        color: #fff;
    }

    .footer-col li {
        padding: 0 0 35px 0;
    }

    .footer-col img {
        padding: 5px;
        width: 85px;
        height: 85px;
    }

    .section-created {
        height: 70px;
    }

    .section-created span {
        display: block;
        text-align: center;
        padding: 25px 0 0 0;
        color: #e9e9e9;
        font-family: 'Work Sans', sans-serif;
        font-size: 14px;
    }

    /* footer-end */

    /* portfolio strart */
    .item {
        float: left;
        height: 300px;
        width: 33.31%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 992px) {
        .item {
            width: 50%;
        }
    }

    @media screen and (max-width: 768px) {
        .item {
            width: 100%;
        }
    }

    .item a {
        display: block;
        height: 100%;
        position: relative;
    }

    .item-big {
        height: 400px;
    }

    .item-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
    }

    .item-hover-title {
        font-family: 'Playfair Display', serif;
        display: block;
        font-size: 24px;
        color: #fff;
        position: relative;
        bottom: -30px;
        transition: all 0.5s;

    }

    .item-hover-text {
        font-family: 'Work Sans', sans-serif;
        display: block;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        bottom: -30px;
        transition: all 0.5s;
    }

    .item a:hover .item-hover {
        opacity: 1;
        visibility: visible;
    }

    .item a:hover .item-hover .item-hover-title {
        bottom: 0;
    }

    /* portfolio stop */
    /* button-background */
    .btn-down {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        color: #fff;
    }

    .btn-down a {
        width: 50px;
        height: 50px;
        border: 1px solid#fff;
        display: flex;
        border-radius: 50%;
        font-size: 25px;
        align-items: center;
        justify-content: center;
    }

    /* buttom stop */